# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env

# VSCode and IDE settings
.vscode/
.idea/

# Logs
*.log

# Mac system files
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
